<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link type="text/css"
        rel="stylesheet"
        href="../assets/css/produtos.css">
</head>
<body>
    <header>
        <div>
            <span id="usuario-logado"></span>
        </div>
        <div class="row login">
            <button type="button" onclick="retornarLogin()">Retornar</button>
        </div>
        <div>
            <button id="filtro01" type="button">Filtrar apenas em estoque</button>
        </div>
        <div id="media">

        </div>
        <div>
            <button id="converter" type="button">Converter para Dólar</button>
        </div>
        <div id="media-produtos">
            
        </div>
        <div id="lista-produtos">

        </div>
    </header>
    <script type="text/javascript" src="../assets/js/home.js"></script>
    <script type="text/javascript" src="../assets/js/funcoes_funcionais.js"></script>
    <script type="text/javascript" src="../assets/js/requisicoes.js"></script>
</body>
</html>